@import 'reset';
@import 'mixins';
@import 'variables';



/* Natural box layout model to all elements*/
html {
  box-sizing: border-box;
  background-color: black;
  color: $primary-color;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Basic Typography*/
html,body {
  font-size: $font-size;
  font-family: $brand-font;
  
}
.header-container{
  margin: 5rem;
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
}
img{
  margin-bottom: 2rem;
  
}
select{
  background-color: $primary-color;
  font-size: $font-size;
  width: 6rem;
  margin: 2rem auto ;
  
}

.text {
  width: 100%;
}

.content-grid {
  margin: 0 auto;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
      }
        
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
      }
}


.grid-item {
 
  display: flex;
  width: 100%;
  object-fit: fill;
  

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    object-fit: fill;
    width: 100%;
    display: flex;
    align-items: flex-end;
    object-fit:cover ;
    
    

    .ptext {
      color: $primary-color;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      padding: 1rem;      


    }
  }
}


.footer {
  display: grid;
  color: $secondary-color;
  
}
.copyright {
  text-align: center;
  margin:6rem auto ;
}

