@import 'reset';

/* Natural box layout model to all elements*/
html {
  box-sizing: border-box;
  background-color: black;
  color: white;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Basic Typography*/
html,body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  
}
.header-container{
  margin: 5rem;
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
}
img{
  margin-bottom: 2rem;
  
}
select{
  background-color: white;
  font-size: 1rem;
  width: 6rem;
  margin: 2rem auto ;
  
}

.text {
  width: 100%;
}
.content-grid {
  display: inline-grid;
  grid-template-rows: 1fr 1fr ;
  
}

.grid-item {
 
  display: flex;
  height: 150px;

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 5px;
    width: 100%; 
    display: flex;
    align-items: flex-end;
    

    .ptext {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      padding: 1rem;      


    }
  }
}


.footer {
  display: grid;
  
}
.copyright {
  text-align: center;
  margin:6rem auto ;
}
